<html>
<head>
	<meta charset="UTF-8">
	<title>Piroll layout</title>
	<link rel="stylesheet" href="css/style.css">
	<!--Fots--> 
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,600|Nunito+Sans" rel="stylesheet">

	<link rel="stylesheet" href="pe-icon-7-stroke/css/pe-icon-7-stroke.css">
	<!-- Optional - Adds useful class to manipulate icon font display -->
	<link rel="stylesheet" href="pe-icon-7-stroke/css/helper.css">
</head>
<body>
	<div class="banner">
	<div class="container">	
		<header>
				<div class="wrap">
					<div class="logo">
						<a href="#"><img src="images/logo.png" alt=""></a>
					</div>
					<div class="navigation">
						<ul class="nav">
							<li><a href="#" id="active-link">home</a></li>
							<li><a href="#">about</a></li>
							<li><a href="#">work</a></li>
							<li><a href="#">process</a></li>
							<li><a href="#">services</a></li>
							<li><a href="#">testimonials</a></li>
							<li><a href="#">contact</a></li>
						</ul>
					</div>	
				</div>		
		</header>
			<div class="wrap-two">
				<div class="first-block">
						<div class="main-right">
							<h1>We Design and Develop</h1>
							<p>
							   We are a new design studio based in USA. We have over 
							   20 years of combined experience, and know a thing or two 
							   about designing websites and mobile apps.
							</p>
							<a href="#">Contact us</a>
						</div>		
				</div>
			</div>
		</div>	
			<section class="about-us">
				<div class="container">
					<div class="wrap-third">
						<h1>About us</h1>
						<p> 
							Divide have don't man wherein air fourth. Own itself make have night won't make. 
							A you under Seed appear which good give. Own give air without fowl moveth dry first 
							heaven fruit, dominion she'd won't very all.
						</p>
						<img src="images/signature.png" alt="">
					</div>	
				</div>
			</section>	
			<section class="skills">
				<div class="skills-left">
					<div class="wrap-skills">
						<h3>Professional Skills</h3>
						<div class="skill-line">
							<p>ui/ux design 75%</p>
							<div class="line line-1"></div>
						</div>
						<div class="skill-line">
							<p>web development 90%</p>
							<div class="line line-2"></div>
						</div>
						<div class="skill-line">
							<p>marketing 65%</p>
							<div class="line line-3"></div>
						</div>
					</div>	
				</div>
				<div class="skills-right"></div>
			</section>
			<section class="advantages">	
				<div class="container">	
					<div class="wrap-advantages">
						<div class="adv-item">
							<div class="adv-icon">
								<i class="pe-7s-portfolio pe-3x pe-va"></i>
							</div>	
							<div class="adv-content">
								<p>548</p>
								<p>projects completed</p>
							</div>
						</div>
						<div class="adv-item">block-2</div>
						<div class="adv-item">block-3</div>
						<div class="adv-item">block-4</div>
					</div>
				</div>
			</section>
		
</body>
</html>